#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#welcome p {
    color: var(--blanc);
    font-size: 2rem;
    font-family: "Grotesk", Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#account-container button {
    width: 80vw;
    height: 8vh;
    margin: 10px;
    background-color: var(--blanc);
    color: var(--noir);
    border: none;
    border-radius: 10px;
    font-family: "Grotesk Light", Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
}


#account-container button:first-child {
    background-color: var(--rouge);
    color: var(--blanc);
}