* {
    margin: 0;
    padding: 0;
}

@media screen and (orientation: portrait) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(10vh, auto);
    }
    
    header {
        background-color: darkslategray;
        grid-column: 1/13;
        color: white;
        border-bottom: 2px solid white;
        display: grid;
        place-items: center;
    }

    h1 {
        margin: 10px;
    }
    
    nav {
        display: grid;
        place-items: center;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    
    li {
        margin: 20px;
    }
    
    #panel-connect {
        display: grid;
        place-items: flex-end;
        margin: 10px;
    }

    #panel-connect a {
        color: white;
        text-decoration: none;
    }

    main {
        background-color: coral;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(10vh, auto);
    }

    #container-panel-left {
        grid-column: 1/4;
        background-color: darkslategrey;
        height: 85vh;
        border-right: 1px solid white;
        display: grid;
        place-items: center;
    }

    #container-panel-main {
        border-left: 1px solid white;
        grid-column: 4/13;
        display: grid;
        place-items: center;
    }

    footer {
		background-color: darkslategrey;
		padding: 20px;
		position: fixed;
		bottom: 0;
		color: white;
		text-shadow: 2px 0px 2px black;
		width: 100%;
        border-top: 2px solid white;
	}
}

@media screen and (orientation: landscape) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(10vh, auto);
    }
    
    header {
        background-color: darkslategray;
        grid-column: 1/13;
        color: white;
        border-bottom: 2px solid white;
    }
    
    nav {
        display: grid;
        place-items: center;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    
    li {
        margin-left: 50px;
    }
    
    #panel-connect {
        display: grid;
        place-items: flex-end;
    }

    #panel-connect a {
        color: white;
        text-decoration: none;
    }

    main {
        background-color: coral;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(10vh, auto);
    }

    .container-panel-left-show {
        display: grid;
        grid-column: 1/4;
        height: 85vh;
        border-right: 1px solid white;
        display:none;
        background-color: red;
    }

    .container-panel-left-hidden {
        display: none;
    }

    .container-panel-main-show {
        display: grid;
        border-left: 1px solid white;
        grid-column: 1/13;
        height: 85vh;
    }

    .container-panel-main-hidden {
        display: grid;
        border-left: 1px solid white;
        grid-column: 4/13;
        height: 85vh;
    }

    footer {
		background-color: darkslategrey;
		padding: 20px;
		position: fixed;
		bottom: 0;
		color: white;
		text-shadow: 2px 0px 2px black;
		width: 100%;
        border-top: 2px solid white;
	}
}

