* {
	margin: 0;
	padding: 0;
  }
  
  @media screen and (orientation: portrait) {
	body {
	  display: grid;
	  grid-template-columns: repeat(12, 1fr);
	  grid-template-rows: minmax(10vh, auto);
	}
	
	header {
	  background-color: #6A645A;
	  grid-column: 1/13;
	  color: #E3CD8B;
	  border-bottom: 2px solid #E3CD8B;
	  display: grid;
	  place-items: center;
	}
  
	.logo {
	  width: 100px;
	  height: 100px;
	}

	h1 {
	  margin: 10px;
	}
	
	nav {
	  display: grid;
	  place-items: center;
	}
	
	ul {
	  display: flex;
	  flex-direction: row;
	  list-style-type: none;
	}
	
	li {
	  margin: 20px;
	}
	
	#panel-connect {
	  display: grid;
	  place-items: flex-end;
	  margin: 10px;
	}
  
	#panel-connect a {
	  color: #E3CD8B;
	  text-decoration: none;
	}
  
	main {
	  background-color: #5D7052;
	  width: 100vw;
	  display: grid;
	  grid-template-columns: repeat(12, 1fr);
	  grid-template-rows: minmax(10vh, auto);
	}
  
	#container-panel-left {
	  grid-column: 1/4;
	  background-color: #6A645A;
	  height: 85vh;
	  border-right: 1px solid #E3CD8B;
	  display: grid;
	  place-items: center;
	}
  
	#container-panel-main {
	  border-left: 1px solid #E3CD8B;
	  grid-column: 4/13;
	  display: grid;
	  place-items: center;
	}
  
	footer {
	  background-color: #6A645A;
	  padding: 20px;
	  position: fixed;
	  bottom: 0;
	  color: #E3CD8B;
	  text-shadow: 2px 0px 2px black;
	  width: 100%;
	  border-top: 2px solid #E3CD8B;
	}
  }
  
  @media screen and (orientation: landscape) {
	body {
	  display: grid;
	  grid-template-columns: repeat(12, 1fr);
	  grid-template-rows: minmax(10vh, auto);
	}
	
	header {
	  background-color: #6A645A;
	  grid-column: 1/13;
	  border-bottom: 2px solid #E3CD8B;
	  display: flex;
	  align-items: center;
	}

	header a {
		color: #E3CD8B; /* les textes auront la bonne couleur quand ils seront cliquables */
		text-decoration: none;
	}

	.logo {
		width: 100px;
		height: auto;
		margin-right: 10px;
	  }

	.logo, nav {
		display: inline-block;
		vertical-align: middle; 
		}
	
	nav {
	  display: grid;
	  place-items: center;
	}
	
	ul {
	  display: flex;
	  flex-direction: row;
	  list-style-type: none;
	}
	
	li {
	  margin-left: 50px;
	}
	
	#panel-connect {
	  display: grid;
	  place-items: flex-end;
	}
  
	#panel-connect a {
	  color: #E3CD8B;
	  text-decoration: none;
	}
  
	main {
	  background-color: #5D7052;
	  width: 100vw;
	  display: grid;
	  grid-template-columns: repeat(12, 1fr);
	  grid-template-rows: minmax(10vh, auto);
	}
  
	.container-panel-left-show {
	  display: grid;
	}

	footer {
		background-color: #6A645A;
		padding: 20px;
		position: fixed;
		bottom: 0;
		color: white;
		text-shadow: 2px 0px 2px black;
		width: 100%;
		border-top: 2px solid #E3CD8B;
	}
	
	footer p {
		margin: 10px;
	}
	
	footer a {
		color: #F0BE86;
		text-decoration: none;
	}
	
	footer a:hover {
		text-decoration: underline;
	}
	
}