* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "oe";
	src: url(../font/grotesk/FreeSans.ttf);
}

body {
	height: 100vh;
	background-color: coral;
	font-family: "oe", Arial, Helvetica, sans-serif;
}

header {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: darkslategray;
	color: white;
	padding: 10px;
	width: 100vw;
}

nav {
	position: fixed;
	right: 0px;
}

ul {
	display: flex;
	flex-direction: row;
}

li {
	list-style: none;
	margin: 50px;
}

main {
	display: grid;
	place-items: center;
	padding: 25vh;
}

footer {
	background-color: darkslategrey;
	padding: 20px;
	position: fixed;
	bottom: 0;
	color: white;
	text-shadow: 2px 0px 2px black;
	width: 100%;
}

#description {
	background-color:khaki;
	padding: 20px;
	text-align: center;
}

.boutons {
	margin-top: 20px;
}

.button-main {
	padding: 20px;
	width: 120px;
}