form {
    display: flex;
    justify-content: center;
    
}

.accordion-item:first-child {
        border-radius: 10px;
}

.accordion-header {
    width: 80vw;
    border: 1px solid var(--blanc);
    color: var(--blanc);
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    flex-wrap: wrap;
    border: 1px solid var(--vert);
    width: 80vw;
    background-color: #fff;
    padding: 20px 10px 20px 10px;
    display: none;
}

.accordion-content > * {
    margin: 20px;
    text-align: center;
}

#submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

button[type="submit"] {
    font-size: 2rem;
    padding: 10px 50px 10px 50px;
    background-color: var(--vert);
    color: var(--blanc);
    border: 2px solid var(--vert);
    border-radius: 10px;
    font-family: "Grotesk", Arial, Helvetica, sans-serif;
}