<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/home.css">
    <title>Shoepea - Accueil</title>
</head>
<body>
    <header>
        <h1>NOMSITE</h1>
        <nav>
            <ul>
                <li>HOMME</li>
                <li>FEMME</li>
                <li>ENFANT</li>
            </ul>
        </nav>
        <div id="panel-connect">
            <a href="#" id="connect">CONNEXION</a>
        </div>
    </header>
    <main>
        <div id="container-panel-left" class="container-panel-left-hidden">
            <h2>FILTRES</h2>
            <p>FILTRE 1</p>
            <p>FILTRE 2</p>
            <p>FILTRE 3</p>
            <p>FILTRE 4</p>
            <p>FILTRE 5</p>
            <p>FILTRE 6</p>
            <p>FILTRE 7</p>
        </div>
        <div id="container-panel-main" class="container-panel-main-hidden">
            <div id="show-filters">
                <button id="show">FDFFZ</button>
            </div>
            <section id="pour-vous">
                <p>POUR VOUS</p>
            </section>
            <section id="basket">
                <p>BASKET</p>
            </section>
            <section id="chaussure">
                <p>CHAUSSURE</p>
            </section>
            <section id="montagne">
                <p>MONTAGNE</p>
            </section>
        </div>
    </main>
    <footer>
        <p>Projet L3 GUI - IHM</p>
        <p>Antoine Maréchal-Bale -- Alexandre Rech-Simoni -- Paul-Antoine Vinciguerra</p>
    </footer>
</body>
<script src="../js/home.js"></script>
</html>